<div id="form_container">
  <h2>Enter Course Info Here</h2>
  <%= simple_form_for @metafile do |f| %>
  <%= f.input :title, :label => "Course Title", :input_html => {:id => "courseTitle"} %>
  <%= f.input :author, :input_html => {:id => "author"} %>
  <%= f.input :short_description, :as => :text, :input_html => {:rows => 20, :cols => 50} %>
  <%= f.input :description, :as => :text, :input_html => {:rows => 20, :cols => 50} %>
  <%= f.simple_fields_for :topics do |topic| %>
  <%= topic.input :topics_list, :as => :text %>
    <%= f.button :submit %>
  <% end %>
  
  
  <div id="add_clips_container">
    <p>Add <input type="number" step="1" min="1" max="20" value="1" class="numeric integer" id="clips_count">clips</p>
    <button id="add_clips">Add Clip(s)</button>
    <button id="clear">Clear Fields</button>
  </div>
</div>