<div id="form_container">
  <h2>Enter Course Info Here</h2>
  <%= simple_form_for @metafile do |f| %>
    <%= f.input :title,
                :label => "Course Title",
                :input_html => {:id => "courseTitle"} %>
    <%= f.input :course_id,
                :label => "Course ID",
                :input_html => {:id => "courseID",
                :placeholder => "sample-course-id"} %>
    <%= f.input :author, :input_html => {:id => "author"} %>
    <%= f.input :short_description,
                :as => :text,
                :input_html => {:rows => 11, :cols => 20} %>

    <%= f.input :description, :as => :text,
                :input_html => {
                  :rows => 20,
                  :cols => 50,
                  id: 'course_desc_tip',
                label: "Description",
                }
                %>
    <div class="course_link input">
      <p><%= link_to 'Click here for more information about writing course descriptions', 'https://authors.pluralsight.com/writing-course-descriptions/', target: 'blank'%></p><br>
    </div>
    <%= f.input :software_required, :label => "Required Software",
                :input_html => {:rows => 1, :cols => 20,
                                  :data =>
                                  {
                                    :ot => "Please list the software required to
                                            follow along with the demos in this course,
                                            including the latest revision numbers
                                            (e.g. maya-2015, photoshop-cc-2015)."
                                  }
                                }
    %>
    <%= f.input :module_count,
                :input_html => {
                  :id => "moduleCount",
                  :min => "1",
                  :value => "1"
                },
                :data => {
                  :ot => "NOT including the course preview."
                }%>
      <div class="course_link input">
        <p>In the following section, please provide faceted tags to help users find your course through the browse/filter experience. Hover over each
           input box to see a short description of the facet. For the sake of limiting the number of tags in the browse experience, please only use tags that currently exist in the system. If you don't see a tag on the following list that you feel is necessary to add to your course, please notify your editor and they will review.
          <%= link_to 'Click here to see a list of active tags', 'https://docs.google.com/spreadsheets/d/18V2q7ijmt1ilQIhznnCRd2ReQdk_Q0sINd02U14WYZw/edit?usp=sharing', target: 'blank' %>
           </p>
        <br/>
    </div>

    <%= f.input :audience_tags,
                :label => "Audience",
                :collection =>
                  [
                    'architecture-construction',
                    'business-professional',
                    'creative-professional',
                    'data-professional',
                    'it-ops',
                    'manufacturing-design',
                    'software-development'
                  ],
                :selected => "creative-professional",
                :input_html => {:rows => 1, :cols => 20,
                                :data =>
                                {
                                  :ot => "This tag answers the question,
                                            'Who is this course designed for?'
                                            Pick the tag that best describes
                                            the course's target audience."
                                }
                              }%>
    <%= f.input :topics_list, :label => "Topics",
                :as => :text,
                :input_html => {
                  :placeholder => "A comma-separated list of topics",
                  :rows => 3,
                  :cols => 20,
                  :data =>
                    {
                      :ot => "Complete the sentence,
                            'This course is about ______.' Include
                            one or a handful of topics. For example,
                             a course about configuring VMware
                             vSphere 6 should include tags
                             for vmware-vsphere and virtualization.
                            Try to be as specific and comprehensive as
                            possible when tagging this course."
                    }
                }%>

    <%= f.input :tools_tags,
                :as => :text,
                :label => "Tools",
                :input_html =>
                {
                  :rows => 5,
                  :cols => 20,
                  :placeholder => "A comma-separated list of tools",
                  :data =>
                    {
                      :ot => "Tools tags identify the tools and technology used in the course. Use as many of these as necessary to be comprehensive.
                        Please use generic tool tags (examples: windows-server, photoshop, visual-studio) as well as the specific version used in the course (examples: windows-server-2012, windows-server-2012-r2, photoshop-cc-2015, visual-studio-2015)."
                    }
                }
    %>
    <%= f.input :certification_tags,
                :label => "Certification(s)",
                :as => :text,
                :placeholder => "A comma-separated list of certification details (if relevant)",
                :input_html =>
                {
                  :rows => 5,
                  :cols => 20,
                  :data =>
                  {
                    :ot => "If the course prepares the viewer for a certification exam,
                    please use the tags for: exam number, exam name, certification
                    vendor (microsoft, comptia)."
                  }
                }%>
    <%= f.input :topics_tags,
                :label => "Additional Keywords",
                :as => :text,
                :input_html =>
                {
                  :placeholder => "A comma-separated list",
                  :rows => 3, :cols => 20,
                  :data =>
                  {
                    :ot=>
                      "Provide any additional keywords relevant to
                      your course, such as the subject of your example
                      scenario(s)."
                    }
                }
    %>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to "Go Back", '/', {:id => "back_button"} %>