<div id="form_container">
  <h2>Enter Course Info Here</h2>
  <%= simple_form_for @metafile do |f| %>
    <%= f.input :title, :label => "Course Title", :input_html => {:id => "courseTitle"} %>
    <%= f.input :author, :input_html => {:id => "author"} %>
    <%= f.input :short_description, :as => :text, :input_html => {:rows => 20, :cols => 20} %>
    <%= f.input :description, :as => :text, :input_html => {:rows => 20, :cols => 50} %>
  <%= f.input :module_count, :input_html => {:id => "moduleCount", :min => "1", :value => "1"} %>
  <%= f.input :topics_list, :as => :text, :input_html => {:placeholder => "A comma-separated list of topics"} %>
    <%= f.button :submit %>

  <% end %>
</div>