<div id="form_container">
  <h2>Enter Module Info Here</h2>
  <%= simple_form_for @metafile, :defaults => {:required => false} do |f| %>
    <%= f.input :course_title, :label => "Course Title", :input_html => {:id => "courseTitle"} %>
    <%= f.input :course_id, :label => "Course ID", :input_html => {:id => "courseID", :placeholder => "sample-course-id", :class => "required"} %>
    <%= f.input :author, :input_html => {:id => "author"} %>
    <%= f.input :module_number, :input_html => {:id => "moduleNumber", :min => "1"} %>
    <%= f.input :title, :label => "Module Title" %>
    <%= f.input :description, :as => :text, :input_html => {:rows => 20, :cols => 50} %>
<!--     <div id="clips_container"> -->
      <p id="clips_title">Clip Titles (empty fields will be ommitted in the meta file)</p>
      <% iterator = 1 %>
      <%= f.simple_fields_for :clips do |c| %>
        <div class="clip_container">
          <%= c.input :title, :label => "#{iterator}", :input_html => {:class => "clip_title"} %>
          <%= c.input :href,  :as => :hidden, :input_html => {:class => "clip_href"} %>
        </div>
      <% iterator += 1 %>
    <% end %>
<!--   </div>  -->
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to "Go Back", '/', {:id => "back_button"} %>
